<div class="container w-75">
  <h1 class="mt-4 text-center">Create A New Movie List</h1>
<div class="container w-75">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      list_bookmarks_path,
      <%= f.association :movie %>
      <%= f.input :comment %>
      <%= f.submit "Submit", class: "btn btn-primary justify-content-end" %>
      <%= link_to 'Back', @list, class:"btn btn-dark" %>
    <% end %>
  </div>
</div>

<footer class="mb-3"> Created by &copy Dan Costa </footer>