<div class="main">
  <div class="container ms-0 w-75">
    <h1 class="mt-4 ms-0">Create A New Movie List</h1>
    <div class="container ms-0 w-75">
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie %>
        <%= f.input :comment %>
        <%= f.submit "Submit", class: "btn btn-primary justify-content-end" %>
        <%= link_to 'Back', @list, class:"btn btn-dark" %>
      <% end %>
    </div>
  </div>

  <div class="mt-3 text-center">
    <div style="width:0;height:0;padding-bottom:0;"><iframe src="https://giphy.com/embed/3o7btRGIgLc7KPTd5u" width="65%" height="55%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/zooey-deschanel-joseph-gordon-levitt-500-days-of-summer-vaRCdgM0fLNrW"></a></p>
  </div>

</div>

  <div class="footer">
      <div class="footer-links">
        <a href="https://github.com/dancosta-fed"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/_dancosta_/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/daniel-de-oliveira-costa-590515140/"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        Created by &copy Dan Costa
      </div>
  </div>
</div>
